<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EvolentHealthDBNewEntities" connectionString="metadata=res://*/DataEntity.EvolentHealthModel.csdl|res://*/DataEntity.EvolentHealthModel.ssdl|res://*/DataEntity.EvolentHealthModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=**.**.**.**;initial catalog=EvolentHealthDB;persist security info=True;user id=xyz;password=********;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>